@model Courier.Models.ModificaPesoBultoModels
@Html.HiddenFor(m => m.MP_Bulto)


@using (Ajax.BeginForm("GuardarBLT", "Preparacion",null, new { id = "frmModificaBulto" }))
{
    <table >
        <tr>
            <td>@Html.LabelFor(m => m.MP_Bulto)</td><td><strong><label>B</label>@Model.MP_Bulto</strong></td>
        </tr>            
        <tr>
            <td>@Html.LabelFor(m => m.MP_KG)</td><td>@Html.TextBoxFor(m => m.MP_KG, new { @style = "text-align:right;" })</td>
        </tr>    
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m=>m.MP_KG)</td>
        </tr>
    </table>
}
