@model Courier.Models.AdministracionCarpeta
@{
    var grid = new WebGrid(Model.oListaSubCarpetas,rowsPerPage:15,ajaxUpdateContainerId:"myGrid2");    
} 
@grid.GetHtml(
fillEmptyRows: true,
alternatingRowStyle: "fila-alternativa",
headerStyle: "encabezado-grid",
tableStyle:"mGrid",
footerStyle: "pie-grid",
mode: WebGridPagerModes.All,
firstText: "<< Primera",
previousText: "< Anterior",
nextText: "Siguiente >",
lastText: "Última >>",
columns: new[]
{
    grid.Column("FL_PAR_SBC_ORDEN","Orden"),     
    grid.Column("FL_PAR_CAR_NOMBRE","Carpeta"), 
    grid.Column("FL_PAR_SBC_NOMBRE","Sub Carpeta"),  
    grid.Column("FL_PAR_SBC_CLASS","Tipo"),      
        
    

    
grid.Column("",header:"Acciones",format:@<text>
                                        <a href="#" title="Editar @item.FL_PAR_SBC_NOMBRE" onclick="EditarSubCarpeta('@item.PK_PAR_SBC_ID')">Editar</a>
                                        <a href="#" title="Eliminar @item.FL_PAR_SBC_NOMBRE" onclick="ElimninarSubCarpeta('@item.PK_PAR_SBC_ID','@HttpUtility.HtmlEncode(@item.FL_PAR_SBC_NOMBRE)')">Eliminar</a>
                                    </text>)
})
