@model Courier.Models.AdministracionUsuario
@using (Ajax.BeginForm("ActualizaPassword", "Account", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "resultado-actualiza", OnComplete = "javascript:finOperacion();", OnBegin = "javascript:inicioOperacion()", OnSuccess="javascript:finOperacionSuccess(data)" }, new { id = "frmRegistroUsuario" }))
{    
    @Html.HiddenFor(m => m.UserNameEdit)    
    <table>
        <tr><td>@Html.LabelFor(m => m.Password)</td></tr>
        <tr><td>@Html.PasswordFor(m => m.Password, new { size = 30, length = 30 })</td></tr>
        <tr><td>@Html.LabelFor(m => m.ConfirmPassword)</td></tr>
        <tr><td>@Html.PasswordFor(m => m.ConfirmPassword, new { size = 30, length = 30 })</td></tr>
    </table>
    @Html.ValidationSummary()
}