@model Courier.Models.DocumentoModels

@{
    ViewBag.Title = "Buscar Documento";
}
<script src="@Url.Content("~/Scripts/jquery.validate.1.9.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/GridView.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function borrar_contenido() {

        $('.field-validation-error')
                .removeClass('field-validation-error')
                .addClass('field-validation-valid');

        $('.input-validation-error')
                .removeClass('input-validation-error')
                .addClass('valid');
    }
    $(function () {
        $("#tabs").tabs();
        $("#NumeroDocumento").focus();
        $("#btnAgregarBulto").button()
        .click(function (event) {

            $("#ValidarDocumentoBuscar").removeData("previousValue");
            $("#ValidarDocumentoBuscar").val($("#NumeroDocumento").val());

            event.preventDefault();
            borrar_contenido();
            $.validator.unobtrusive.parse("#frmAgregar");


            if ($("#frmAgregar").valid() == true) {

                $("#frmAgregar").submit();
            }

            $("#NumeroDocumento").focus();
            setTimeout(function () { ActualizaClase(); }, 200);
            $(".validation-summary-errors").show();
        });
        $("#dialog-verhistoriadoc").dialog({ autoOpen: false, title: "Documentos Asociados", width: 'auto', modal: true,
            buttons: {
                Aceptar: function () {
                    $(this).dialog("close");
                }
            }
        });
    })

    function ActualizaClase() {
        if ($("#ValidarDocumentoBuscar").attr("class") == "input-validation-error") {
            $("#NumeroDocumento").attr('class', $("#ValidarDocumentoBuscar").attr("class"));
        }
    }
    function Inicio() {
        waitingDialog({ title: "Guardando", message: "Guardando...<br/>" });
    }
    function FinAgregar(data) {
        ActualizaListaRecepcionHoy();
        $(".validation-summary-errors").hide();     
        closeWaitingDialog();                
    }
    function FinError() {
        closeWaitingDialog();
    }
    function checkEnter(e) {
        e = e || event;
        return (e.keyCode || event.which || event.charCode || 0) !== 13;
    }
    function ActualizaListaRecepcionHoy() {

        waitingDialog({ title: "Actualizando", message: "Actualizando Lista...<br/>" });
        var randomnumber = Math.floor(Math.random() * 1111111)
        $("#IdListaRecepcion").load('@Url.Action("ListaBuscar","Documento")?NumeroDocumento=' + $("#NumeroDocumento").val() + '&r=' + randomnumber, function (response, status, xhr) {
            closeWaitingDialog();
            if (status == 'error') {
                alert('Error al cargar la información');
            }
        });
    }

    function VerHistorial(DOA_ID) {           
        waitingDialog({ title: "Actualizando", message: "Actualizando Lista...<br/>" });
        var randomnumber = Math.floor(Math.random() * 1111111)
        $("#dialog-verhistoriadoc").load('@Url.Action("ListaBuscarHistoria","Documento")?PK_FOL_DOA_ID=' + DOA_ID + '&r=' + randomnumber + ' #myGridHistoria', function (response, status, xhr) {
            closeWaitingDialog();
            if (status == 'error') {
                alert('Error al cargar la información');
            }
            else {
                $("#dialog-verhistoriadoc").dialog("open");
            }

        });
    }
</script>
<div id="dialog-verhistoriadoc"></div>
<div id="dialog-formagregar"></div>

@using (Ajax.BeginForm("BuscarDocumentoForm", "Documento", new AjaxOptions { HttpMethod = "Post", OnBegin = "javascript:Inicio()", OnSuccess = "Javascript:FinAgregar(data)", OnFailure = "Javascript:FinError()" }, new { @id = "frmAgregar" }))
{
    @Html.TextBoxFor(m => m.ValidarDocumentoBuscar, new { style = "visibility:hidden;float:right" })
    //, new { style = "visibility:hidden;float:right" }
    <table>
        <tr>
            <td>N° OT</td>
            <td>@Html.TextBoxFor(m => m.NumeroDocumento)</td>
            <td>
                <button id="btnAgregarBulto">
                    <div style="float:left;width:70px;"> 
                    <div style="float:left;"><img alt="Agregar Bulto" src='@Url.Content("~/Images/system_search.png")' /></div>
                    <div style="float:left;">&nbsp;Buscar</div>                        
                    </div>                       
                </button>  
            </td>
        </tr>
    </table>  
    @Html.ValidationSummary()
}
<div id="ioWi"></div>
<div id="tabs">
    <ul>		    
        <li><a href="#tabs-1">Recepción Hoy</a></li>		    
    </ul>        
    <div id="tabs-1">   
        <div id="IdListaRecepcion">
            @*@Html.Partial("_ListaRecepcionHoy", Model)*@
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#NumeroDocumento").change(function () {
            $("#IdListaRecepcion").html("");
        });
    })
</script>
