@{
    ViewBag.Title = "Ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Manuales</h3>


<a href="@Url.Content("~/Manuales/Despacho_de_Pedidos.pdf")" target="_blank">1. Despacho de Pedidos</a><br />
<a href="@Url.Content("~/Manuales/Tipos_de_Usuario_y_Perfiles.pdf")" target="_blank">2. Tipos de Usuario y Perfiles</a><br />
<a href="@Url.Content("~/Manuales/Ingreso_al_Sistema.pdf")" target="_blank">3. Ingreso al Sistema</a><br />
<a href="@Url.Content("~/Manuales/Ingreso_Manual_de_Pedidos.pdf")" target="_blank">4. Ingreso Manual de Pedidos</a><br />
<a href="@Url.Content("~/Manuales/Ingreso_Masivo_de_Pedidos.pdf")" target="_blank">5. Ingreso Masivo de Pedidos</a><br />
<a href="@Url.Content("~/Manuales/Manuales/Preparacion_de_Pedidos.pdf")" target="_blank">6. Preparacion de Pedidos</a><br />
<a href="@Url.Content("~/Manuales/Recepcion_de_Pedidos.pdf")" target="_blank">7. Recepcion de Pedidos</a><br />