@model Courier.Models.CargaModels
@{
    ViewBag.Title = "Entrega de Manifiesto a Transporte";
}
<link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/GridView.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.1.9.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(function () {
        $("#ConfirmarEntrega").dialog({ autoOpen: false, width: "auto", height: "auto", title: 'Advertencia', modal: true,
            buttons: {
                Aceptar: function (event) {
                    EntregarCargaConfirmar($("#NumeroManifiesto").val());
                    $(this).dialog("close");
                },
                Cancelar: function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#NumeroBusquedaManifiesto").focus()
            .click(function () {
                $("#NumeroBusquedaManifiesto").val("");
                $("#NumeroBusquedaManifiesto").focus();
            });
        $("#AbreBuscarManifiesto").button()
        .click(function () {
            $("#dialog-EditarManifiesto").dialog("open");
            $("#NumeroBusquedaManifiesto").val("");
            $("#NumeroBusquedaManifiesto").focus();
            borrar_contenido();
        });

        $("#dialog-result-valida-error").dialog({ autoOpen: false, width: 'auto', modal: true,
            buttons: {
                Aceptar: function (event) {
                    $("#AgregaOT").focus();
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-result-valida-ok").dialog({ autoOpen: false, width: 'auto', modal: true,
            buttons: {
                Aceptar: function (event) {
                    $("#AgregaOT").focus();
                    $(this).dialog("close");
                }
            }
        });
       
        $("#InicioCarga").button()
        .click(function () {
            CargaInicioCarga();
        });
        $("#CrearManifiesto").button()
        .click(function () {
            ValidaExisteManifiestoAntesNuevo();
        });

        $("#dialog:ui-dialog").dialog("destroy");

        $("#dialog-NuevoManifiesto").dialog({ autoOpen: false, width: 'auto', modal: true,
            buttons: {
                Aceptar: function (event) {
                    event.preventDefault();
                    $.validator.unobtrusive.parse("#frmNuevoManifiesto");
                    if ($("#frmNuevoManifiesto").valid() == true) {
                        $("#frmNuevoManifiesto").submit();
                        $(this).dialog("close");
                        borrar_contenido();
                    }
                },
                Cancelar: function () { $(this).dialog("close"); }
            }
        });

        $("#dialog-EditarManifiesto").dialog({ autoOpen: false, width: '250', modal: true,
            buttons: {
                Buscar: function (event) {
                    borrar_contenido();
                    event.preventDefault();
                    $.validator.unobtrusive.parse("#frmEditarManifiesto");
                    if ($("#frmEditarManifiesto").valid() == true) {
                        $("#frmEditarManifiesto").submit();
                        $(this).dialog("close");
                    }
                },
                Cancelar: function () { $(this).dialog("close"); }
            }
        });

        $("#dialog-existe").dialog({ autoOpen: false, width: 'auto', modal: true,
            buttons: {
                Aceptar: function (event) {
                    event.preventDefault();
                    var randomnumber = Math.floor(Math.random() * 11111111);
                    $("#random").val(randomnumber);
                    $("#frmEditarManifiesto").submit();
                    $(this).dialog("close");
                },
                Cancelar: function () { $(this).dialog("close"); }
            }
        });
         $("#dialog-HistorialOT").dialog({ autoOpen: false, title: "Historial", position: 'left+5% top+5%', width: 'auto', minWidth: 400, minHeight: 300, modal: true,
            buttons: {
                Aceptar: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    function CargaInicioCarga() { //hrivera
        waitingDialog({ title: "Cargando", message: "Cargando Manifiestos...<br/>" });
        var randomnumber = Math.floor(Math.random() * 11111111);
        $.ajax({
            url: '@Url.Action("ListaManifiestoCarga", "Carga")',
            data: { r: randomnumber },
            success: function (data) {
                $("#formContent").html(data);
                closeWaitingDialog();
            },
            error: function () {
                closeWaitingDialog();
            }
        });
    }
    function Inicio() {
        waitingDialog({ title: "Cargando", message: "Cargando...<br/>" });
    }
    function Fin() {
        closeWaitingDialog();
    }
    function FinCargaEdit(data) {
        $("#formContent").hide();
        $("#formContent").html(data);
        $("#formContent").show();
        closeWaitingDialog();
    }

    function InicioAgregarOT() {
        waitingDialog({ title: "Validando Contenido", message: "Validando...<br/>" });
    }
    function FinAgregarOT(data) {
        closeWaitingDialog();
        if (data.Ok == false) {
            ActualizaListados();
            $("#AgregaOT").focus();
            $("#AgregaOT").val("");
            $("#dialog-result-valida-error").html('<p>' + data.Mensaje + '</p>')
            $("#dialog-result-valida-error").dialog("open");
        }
        else {
            $("#AgregaOT").val("");
            ActualizaListados();
            VerIngresoOKOT();
        }                
    }
    function FinErrorAgregarOT(data) {
        closeWaitingDialog();
        alert("No fue posible validar la información")
    }

    function borrar_contenido() {

        $('.field-validation-error')
                .removeClass('field-validation-error')
                .addClass('field-validation-valid');

        $('.input-validation-error')
                .removeClass('input-validation-error')
                .addClass('valid');
    }
    function CargarEditar(Man_Id) {
        $("#NumeroBusquedaManifiesto").val(Man_Id);
        
        $("#NumeroManifiesto").val(Man_Id);
        $("#frmEditarManifiesto").submit();
    }

    function DecargarPDF(Man_Id) {        
        window.open('@Url.Action("Index","Reporte")?MAN_ID=' + Man_Id, '_blank');
    }


    function VerDocumentosAsociados(OTP, OTD) {
        var randomnumber = Math.floor(Math.random() * 11111111)
        $("#dialog-documentos").dialog("open");
        $("#dialog-documentos").html('<img src="@Url.Content("~/Images/8.gif")" />');
        $("#dialog-documentos").load('@Url.Content("~/Preparacion/ListaDocumentos")?OTP=' + OTP + '&OTD=' + OTD + '&r=' + randomnumber, function (response, status, xhr) {
            if (status == 'success') {
                $("#idBulto").val("");
                borrar_contenido();
                $("#idBulto").focus()
            }
        });
    }

    function ImprimirManifiesto(NumeroManifiesto) {
        var randomnumber = Math.floor(Math.random() * 11111111);
        window.open('@Url.Action("Index","Reporte")?MAN_ID=' + NumeroManifiesto + '&r=' + randomnumber, '_blank');
    }
    function EntregarCarga(NumeroManifiesto){
            $("#NumeroManifiesto").val(NumeroManifiesto);
            $("#ConfirmarEntrega").dialog("open");
    }
    function EntregarCargaConfirmar(Manifiesto) {
       var randomnumber = Math.floor(Math.random() * 111111111);
        $.ajax({
            url: '@Url.Action("EntregaManifiesto", "Carga")',
            data: {
                NumeroManifiesto: Manifiesto
            }
        })
            .done(function (data) {
                if (data.Ok == true) {
                    CargaInicioCarga();
                    $("#dialog-result-valida-ok").html(data.MensajeGuardado);
                    $("#dialog-result-valida-ok").dialog("open");
                }
                else {
                    $("#dialog-result-valida-ok").html(data.MensajeGuardado);
                    $("#dialog-result-valida-ok").dialog("open");
                }

            });
        }
        
        function ChangeProveedor(valorProveedor) {
            $("#Patente").hide();
            $("#divPatente").html('<img src="@Url.Content("~/Images/38.gif")" />');
            $("#Patente").load('@Url.Content("~/Carga/DropDownPatente")?idProveedor=' + valorProveedor + '#Patente option', function (response, status, xhr) {
                $("#divPatente").html("");
                $("#Patente").show();
                ChangePatente($("#Patente").val());
            });
        }
        function ChangePatente(valorPatente) {
            $("#Conductor").hide();
            $("#divConductor").html('<img src="@Url.Content("~/Images/38.gif")" />');
            $("#Conductor").load('@Url.Content("~/Carga/DropDownConductor")?idPatente=' + valorPatente + '#Conductor option', function (response, status, xhr) {
                $("#divConductor").html("");
                $("#Conductor").show();
            });

        }
        function Fin2(data) {
            closeWaitingDialog();
        }
        function GuardaDatosCabecera(NumeroManifiesto) {

            if ($("#Patente").val() == "" || $("#Conductor").val() == "") {
                    $("#dialog-result-valida-ok").html("Complete los datos para guardar el manifiesto.");
                    $("#dialog-result-valida-ok").dialog("open");
                } else {
                if ($("#Proveedor")) {
                    if ($("#Proveedor").val() == "") {

                        $("#dialog-result-valida-ok").html("Complete los datos para guardar el manifiesto.");
                        $("#dialog-result-valida-ok").dialog("open");
                    }else{
                    waitingDialog({ title: "Procesando", message: "Actualizando Manifiesto...<br/>" });
                    //var randomnumber = Math.floor(Math.random() * 11111111);
                    $.ajax({
                        url: '@Url.Action("GuardarPatente", "Carga")',
                        data: {
                            //r: randomnumber,
                            provId: $("#Proveedor").val(),
                            patId: $("#Patente").val(),
                            condId: $("#Conductor").val(),
                            MAN_ID: NumeroManifiesto

                        },
                        success: function (data) {
                            closeWaitingDialog();
                            if (data.Ok == true) {
                                CargaInicioCarga();
                                $("#dialog-conductor").dialog("close");
                                $("#dialog-result-valida-ok").html(data.Mensaje);
                                $("#dialog-result-valida-ok").dialog("open");
                            }
                            else {
                                closeWaitingDialog();
                                $("#dialog-result-valida-ok").html("Error: " + data.Mensaje);
                                $("#dialog-result-valida-ok").dialog("open");
                            }
                        },
                        error: function (data) {

                            closeWaitingDialog();
                            $("#dialog-result-valida-ok").html(data.Mensaje);
                            $("#dialog-result-valida-ok").dialog("open");
                        }
                    });
                }
           } else{
                    waitingDialog({ title: "Procesando", message: "Actualizando Manifiesto...<br/>" });
                    //var randomnumber = Math.floor(Math.random() * 11111111);
                    $.ajax({
                        url: '@Url.Action("GuardarPatente", "Carga")',
                        data: {
                            //r: randomnumber,
                            patId: $("#Patente").val(),
                            condId: $("#Conductor").val(),
                            MAN_ID: NumeroManifiesto

                        },
                        success: function (data) {
                            closeWaitingDialog();
                            if (data.Ok == true) {
                                CargaInicioCarga();
                                $("#dialog-conductor").dialog("close");
                                $("#dialog-result-valida-ok").html(data.Mensaje);
                                $("#dialog-result-valida-ok").dialog("open");
                            }
                            else {
                                closeWaitingDialog();
                                $("#dialog-result-valida-ok").html("Error: " + data.Mensaje);
                                $("#dialog-result-valida-ok").dialog("open");
                            }
                        },
                        error: function (data) {

                            closeWaitingDialog();
                            $("#dialog-result-valida-ok").html(data.Mensaje);
                            $("#dialog-result-valida-ok").dialog("open");
                        }
                    });
                } 
           }
        }
        function DescargarExcelMan(NumeroManifiesto) {
            var randomnumber = Math.floor(Math.random() * 11111111);
            window.open('@Url.Action("DescargarExcelMan", "Carga")?NumeroManifiesto=' + NumeroManifiesto + '&r=' + randomnumber);
        }
</script>

@Html.HiddenFor(m => m.NumeroManifiesto)
<div id="ConfirmarEntrega">
    <p>
        <strong>Seran entregado el manifiesto</strong><br />
        <br />
        ¿Está seguro(a) que desea continuar?</p>
</div>
<div id="dialog-result-valida-error" title="Editar Conductor"></div>
<div id="dialog-result-valida-ok" title="Editar Transporte"></div>
<div id="dialog-existe" title="Manifiesto"></div>

<div style="text-align:right;width:100%;display:none;">     
    <button id="InicioCarga">
        <div style="float:left;width:160px;">       
            <div style="float:left;"><img alt="Buscar" src="@Url.Content("~/Images/21.png")" /></div>                 
            <div style="float:left;">&nbsp;En espera Transporte</div>                        
        </div>                       
    </button> 
    <button id="AbreBuscarManifiesto" style="display:none;">
        <div style="float:left;width:140px;">       
            <div style="float:left;"><img alt="Buscar" src="@Url.Content("~/Images/magnifier.png")" /></div>                 
            <div style="float:left;">&nbsp;Buscar Manifiesto</div>                        
        </div>                       
    </button> 
</div>

<div id="dialog-EditarManifiesto" title="Buscar Manifiesto" style="display:none;">
@using (Ajax.BeginForm("EditarManifiesto", "Preparacion", new AjaxOptions {  HttpMethod = "Get", OnBegin = "javascript:Inicio()", OnSuccess = "Javascript:FinCargaEdit(data)", OnFailure = "Javascript:FinCargaEdit()" }, new { id = "frmEditarManifiesto" }))
{      
    <input type="hidden" id="random" name="random" /> 
    <table>
        <tr><td colspan="5">@Html.LabelFor(m => m.NumeroBusquedaManifiesto)</td></tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.NumeroBusquedaManifiesto, new { size = 20 })</td>                         
        </tr>
    </table>
    @Html.ValidationMessageFor(m => m.NumeroBusquedaManifiesto)
}
</div>

@using (Ajax.BeginForm("||", "Preparacion", new AjaxOptions { OnBegin = "javascript:Inicio()", OnSuccess = "Javascript:Fin()", OnFailure = "Javascript:Fin()", UpdateTargetId = "formContent" }, new { id = "frmNuevoManifiesto" }))
{

}
<div id="formContent">
    
</div>
<script type="text/javascript">
    $(function () {
        CargaInicioCarga();
    });
</script>